[submodule ".registry"]
	path = .registry
	url = https://github.com/chrbknudsen/chrbknudsen.r-universe.dev
	branch = HEAD
[submodule "KnudsenKit"]
	path = KnudsenKit
	url = https://github.com/chrbknudsen/KnudsenKit
