[submodule ".registry"]
	path = .registry
	url = https://github.com/chrbknudsen/chrbknudsen.r-universe.dev
	branch = HEAD
[submodule "KnudsenRack"]
	path = KnudsenRack
	url = https://github.com/chrbknudsen/KnudsenRack
